img {
	max-height: 150px;
	max-width: 150px;
}

table, td {
	border: 1px solid black;
}
#game, #game td {
	border: none;
}
body {
	margin: 0;
	padding: 0;
	background-color: #FEF9F4;
	background-image: url(http://www.marbet.com/fileadmin/user_upload/marbet/hintergrund/120118_marbet-website-background-5.jpg);
	background-repeat: repeat;
	background-position: 50% 30px;
}

}

#account {
	background-color: #9e9e9e;
	margin: 5px;
	float: right;
}
header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 110px;
	background-image: url("header.jpg");
	background-repeat: repeat-x;
}
nav a, #account a {
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 2em;
	color: black;
	margin: 0;
	border-right: 2px solid #fff;
}

nav {
	display: inline-block;
	color: #E0E0EB;
	background-color: #9e9e9e;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navigation {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.navigation li {
	list-style: none;
	float: left;
}
.navigation li a:link, .navigation li a:visited {
	position: relative;
	z-index: 9999;
	display: block;
	text-decoration: none;
	padding: 0.5em 2em;
	margin: 0;
	border-right: 1px solid #fff;
}

.navigation li a:hover {
	background-color: #FABF8F;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.jumbotron {
	background-image: url('http://s22.postimg.org/yogzmwfot/Darryl_Wood.jpg');
	height: 500px;
	max-height: 170px;
	max-width: 140px;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron .container {
	position: relative;
	top: 100px;
}

.jumbotron h1 {
	color: #fff;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron p {
	font-size: 20px;
	color: #fff;
}

.learn-more {
	background-color: #f7f7f7;
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.learn-more a {
	color: #00b0ff;
}
.neighborhood-guides {
	background-color: #efefef;
	border-bottom: 1px solid #dbdbdb;
}
.neighborhood-guides h2 {
	color: #393c3d;
	font-size: 24px;
}
.neighborhood-guides p {
	font-size: 15px;
	margin-bottom: 13px;
}
#center img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#center p {
	text-align: center;
}

